html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

#div_consultation {
    margin-top: 1%;
    width: 47%;
    height: 90%;
    float: left;
    background-color: #487d83;
    overflow: auto;
}

#div_materiel {
    margin-top: 1%;
    width: 50%;
    height: 90%;
    float: right;
    background-color: #487d83;
    overflow: auto;
}

.btnMateriel {
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    height: 25%;
}

.btnMateriel:hover {
    cursor: pointer;
}

.consultation {
    margin-left:10%;
    white-space: pre-wrap;
    line-height: 50%;
    font-size: 120%;
}

#list_codes {
    margin-left:5%;
}