.left {
    float: left;
    width: 28%;
    margin: 10px;
    background-color: #487d83;
}

.middle {
    float: left;
    width: 28%;
    margin: 10px;
    background-color: #487d83;
}

.right {
    float: left;
    width: 28%;
    margin: 10px;
    background-color: #487d83;
}

.listItem {
    margin-top: 10px;
    padding: 10px;
    background-color: #487d83;
}

.main {
    width: 100%;
}

.date {
    display: flex;
    align-items: center;
}

table {
    background-color: blueviolet;
}

.ui-datepicker {
    background-color: brown;
}

.ui-icon-circle-triangle-e {
    background-color: chartreuse;
}