{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
    
  </head>
  
  <body>

    <div id="header">
      <div id="header_left">
        Connecté en tant que {{ name }}
      </div>
      <div id="header_right">
        <a href="/login/">
          <button id="logout" value="Logout">Logout</button>
        </a>
      </div>
    </div>

    <div id="div_consultation">
      <p class="consultation">
        <span>Tableau de bord de {{ fullname }}
        <a href="/main/account" id="account_link">
        <button id="btn_account" value="account" class="btnAccount">Mon profil</button></a></span>
        {% if dateElec %}
        <br>
        Habilitation électrique R/Elec : {% if elecIsOld %} <font color="red"> {{ dateElec }} </font>
        {% else %} <font color="#13cf52"> {{ dateElec }} </font> {% endif %}
        
        Visite médicale : {% if medicIsOld %} <font color="red"> {{ dateMedic }} </font>
                          {% else %} <font color="#13cf52"> {{ dateMedic }} </font> {% endif %}
        {% else %}
        Vos nom et prénom ne sont pas enregistrés dans la base de données.
        (Excel habilitations)
        {% endif %}
        {% if codes %}
        <ul id="list_codes">
        {% for code, value in codes.items %}
          <li>
            {% if value %} <font color="#13cf52" size=5>{{code}}</font>
            {% else %}<font color="red" size=4>{{code}}</font>{% endif %}
          </li>
        {% endfor %}
        </ul>
        {% else %}
        Votre nom n'est pas enregistré dans la base de données.
        (Excel codes affaires)
        {% endif %}
      </p>
    </div>
    <div id="div_materiel">
      
      <a href="/main/sortie">
        <button id="btn_sortie" value="sortie" class="btnMateriel">Sortie</button>
      </a>
      <a href="/main/pret">
        <button id="btn_pret" value="pret" class="btnMateriel">Prêt</button>
      </a>
      <a href="/main/retour">
        <button id="btn_retour" value="retour" class="btnMateriel">Retour</button>
      </a>
      <a href="/main/recherche">
        <button id="btn_recherche" value="recherche" class="btnMateriel">Rechercher</button>
      </a>

    </div>
    
  </body>
</html>
