{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/sortie.css' %}">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  
  <body>

    <div id="header">
      <div id="header_left">
        <span id="full">Connecté en tant que</span>
        <span id="little_name">{{ name }}</span>
        
      </div>
      <div id="header_right">
        <a href="/main/">
          <button id="back" value="back">Retour</button>
        </a>
        <a href="/login/">
          <button id="logout" value="Logout">Logout</button>
        </a>
      </div>
    </div>

      <div class="left">
        <ul>
          <li>
            <form action="", method="POST" class="listBtn" id="formStage">
              {% csrf_token %}
              <label>{{ stage }}</label>
              <button class="stageBtn" name="stageClicked" id="next" value="{{next_stage}}"><span class="arrow_right">&#8250;</span> [{{next_stage}}] <span class="arrow_right">&#8250;</span></button>
              {% if previous_stage %}
              <button class="stageBtn" name="stageClicked" id="previous" value="{{previous_stage}}"><span class="arrow_left">&#8249;</span> [{{previous_stage}}] <span class="arrow_left">&#8249;</span> </button>
              {% else %}
              <button class="stageBtn" name="stageClicked" id="previous" value="{{previous_stage}}" disabled><span class="arrow_left">&#8249;</span><span class="arrow_left">&#8249;</span></button>
              {% endif %}
            </form>
          </li>
        {% if categories_list %}
        <form action="", method="POST">
        {% csrf_token %}
          {% for cat in categories_list %}
              <li class="listItem"><button name="id_cat" value="{{cat}}" class="listBtn">{{ cat }}</button></li>
          {% endfor %}
        </form>
        {% else %}
            <li>Il n'y a aucune catégorie à afficher</li>
        {% endif %}
        </ul>
      </div>
      <div class="middle">
        {% if tools_list %}
        <ul>
          <form action="", method="POST">
            {% csrf_token %}
            {% for tool in tools_list %}
              <li class="listItem"><button name="id_tool", value="{{tool}}" class="listBtn">{{ tool }}</button></li>
            {% endfor %}
          </form>
        </ul>
        {% endif %}
      </div>
      <div class="right">
        {% if current_tool %}
          <!-- <div class="date">Date de début <input type="date"></div>
          <div class="date">Date de fin     <input type="date"></div> -->

          <div id="calendar">
            <script>
              var array = "{{ dates_occupied }}"
              $( function() {
                $( ".datepicker" ).datepicker({
                  altField: "#datepicker",
                  firstDay: 1,
                  closeText: 'Fermer',
                  prevText: 'Précédent',
                  nextText: 'Suivant',
                  currentText: 'Aujourd\'hui',
                  monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                  monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                  dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                  dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                  dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                  weekHeader: 'Sem.',
                  dateFormat: 'yy-mm-dd',
                  beforeShowDay: function(date){
                      var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                      return [ array.indexOf(string) == -1 ]
                  }
                });
              } );
            </script>
            <h2>{{ current_tool }}</h2>
            <label class="date">Date de début</label><input type="text" class="datepicker" id="datepickerStart">
            <label class="date">Date de fin</label><input type="text" class="datepicker" id="datepickerEnd">
            
          </div>

        {% endif %}
      </div>
  </body>
</html>
